In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
#load up all the data
inputfolder = 'data'
filelist = os.listdir(inputfolder)
framedict = dict()
for file in filelist:
    filename,ext = os.path.splitext(file)
    pathway = os.path.join(inputfolder,file)
#     print(pathway)
    tempdf = pd.read_csv(pathway)
    framedict[filename] = tempdf
    del tempdf
dictnames = [x for x in framedict.keys()]
print(dictnames)

['ATP_matches', 'aus_open_men_match_odds', 'aus_open_men_tournament_odds', 'aus_open_women_match_odds', 'aus_open_women_tournament_odds', 'WTA_matches']

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (11,12,13,14,17,18,24,25,26,27,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Looking at the mens data

In [3]:
#load mens dataframes into variables and inspect data
ATPframe = framedict['ATP_matches'].copy() #we copy so we can run the code multiple times without errors, not really necessary
AOMensMatchOdds = framedict[ 'aus_open_men_match_odds'].copy()
AOMensTournOdds = framedict['aus_open_men_tournament_odds'].copy()
display(ATPframe.head())
display(AOMensMatchOdds.head())
display(AOMensTournOdds.head())

#initial cleaning
#checking that we're only looking at mens data
print(AOMensMatchOdds['men_women'].unique())
print(AOMensTournOdds['men_women'].unique())

#only mens, so we can drop this column
AOMensMatchOdds.drop('men_women',axis=1,inplace=True)
AOMensTournOdds.drop('men_women',axis=1,inplace=True)

,Winner,Loser,Tournament,Tournament_Date,Court_Surface,Round_Description,Winner_Rank,Loser_Rank,Retirement_Ind,Winner_Sets_Won,...,Loser_DoubleFaults,Loser_FirstServes_Won,Loser_FirstServes_In,Loser_SecondServes_Won,Loser_SecondServes_In,Loser_BreakPoints_Won,Loser_BreakPoints,Loser_ReturnPoints_Won,Loser_ReturnPoints_Faced,Loser_TotalPoints_Won
0,Edouard Roger-Vasselin,Eric Prodon,Chennai,2-Jan-12,Hard,First Round,106,97,0,2,...,3,21,33,13,26,1,3,15,49,49
1,Dudi Sela,Fabio Fognini,Chennai,2-Jan-12,Hard,First Round,83,48,0,2,...,4,17,32,5,26,0,1,8,33,30
2,Go Soeda,Frederico Gil,Chennai,2-Jan-12,Hard,First Round,120,102,0,2,...,2,45,70,18,35,2,4,36,103,99
3,Yuki Bhambri,Karol Beck,Chennai,2-Jan-12,Hard,First Round,345,101,0,2,...,1,15,33,13,29,2,3,15,46,43
4,Yuichi Sugita,Olivier Rochus,Chennai,2-Jan-12,Hard,First Round,235,67,0,2,...,0,19,32,13,22,1,7,30,78,62

,tournament,men_women,match_date,player_1,player_1_odds,player_2,player_2_odds
0,Australian Open 2012,Men,2012-01-17,Potito Starace,1.77,Tatsuma Ito,2.24
1,Australian Open 2012,Men,2012-01-17,Nicolas Mahut,5.30,Radek Stepanek,1.20
2,Australian Open 2012,Men,2012-01-17,Filippo Volandri,40.00,Milos Raonic,1.02
3,Australian Open 2012,Men,2012-01-17,Lukas Rosol,3.25,Philipp Petzschner,1.42
4,Australian Open 2012,Men,2012-01-17,Cedrik Marcel Stebe,3.60,Lleyton Hewitt,1.36

             tournament men_women              player   odds
0  Australian Open 2012       Men      Novak Djokovic   2.46
1  Australian Open 2012       Men       Roger Federer   5.60
2  Australian Open 2012       Men         Andy Murray   7.60
3  Australian Open 2012       Men        Rafael Nadal   9.00
4  Australian Open 2012       Men  Jo Wilfried Tsonga  22.00

['Men']
['Men']

In [15]:
#convert dates to datetime
ATPframe['datetime'] = pd.to_datetime(ATPframe['Tournament_Date'])
AOMensMatchOdds['datetime'] = pd.to_datetime(AOMensMatchOdds['match_date'])
display(AOMensMatchOdds.loc[:,['match_date','datetime']].head())

#testing splitting up dates into day/month/year
AOMensMatchOdds['year'] = pd.DatetimeIndex(AOMensMatchOdds['datetime']).year
AOMensMatchOdds['month'] = pd.DatetimeIndex(AOMensMatchOdds['datetime']).month
AOMensMatchOdds['day'] = pd.DatetimeIndex(AOMensMatchOdds['datetime']).day
ATPframe['year'] = pd.DatetimeIndex(ATPframe['datetime']).year
ATPframe['month'] = pd.DatetimeIndex(ATPframe['datetime']).month
ATPframe['day'] = pd.DatetimeIndex(ATPframe['datetime']).day
display(ATPframe.loc[:,['year','month','day','datetime']].head())

#we only have odds data for Australian Open, so we're gonna just grab ATP data for Australian Opens
print(AOMensTournOdds['tournament'].unique())
print(AOMensTournOdds['tournament'].unique() == AOMensMatchOdds['tournament'].unique())#checking to see if odds data are from the same tournaments

#new column for Aus open names so we can match it
def AusOpen(row):
    tourney = row['Tournament']
    if 'Australian Open' in tourney:
        return 'Ausralian Open '+str(row['year'])
    else:
        return np.nan
ATPframe['AusOpen'] = ATPframe.apply(AusOpen,axis=1)
print(ATPframe['AusOpen'].unique())
AusOpenframe = ATPframe.dropna(subset =['AusOpen'],axis=0)
display(AusOpenframe.head())

   match_date   datetime
0  2012-01-17 2012-01-17
1  2012-01-17 2012-01-17
2  2012-01-17 2012-01-17
3  2012-01-17 2012-01-17
4  2012-01-17 2012-01-17

   year  month  day   datetime
0  2012      1    2 2012-01-02
1  2012      1    2 2012-01-02
2  2012      1    2 2012-01-02
3  2012      1    2 2012-01-02
4  2012      1    2 2012-01-02

['Australian Open 2012' 'Australian Open 2013' 'Australian Open 2014'
 'Australian Open 2015' 'Australian Open 2016' 'Australian Open 2017'
 'Australian Open 2018']
[ True  True  True  True  True  True  True]
[nan 'Ausralian Open 2012' 'Ausralian Open 2013' 'Ausralian Open 2014'
 'Ausralian Open 2015' 'Ausralian Open 2016' 'Ausralian Open 2017'
 'Ausralian Open 2018']

,Winner,Loser,Tournament,Tournament_Date,Court_Surface,Round_Description,Winner_Rank,Loser_Rank,Retirement_Ind,Winner_Sets_Won,...,Loser_BreakPoints_Won,Loser_BreakPoints,Loser_ReturnPoints_Won,Loser_ReturnPoints_Faced,Loser_TotalPoints_Won,datetime,year,month,day,AusOpen
137,Adrian Menendez-Maceiras,Alejandro Gonzalez,"Australian Open, Melbourne",16-Jan-12,Hard,Qualifying,195,270,0,2,...,3,10,24,53,44,2012-01-16,2012,1,16,Ausralian Open 2012
138,Marco Crugnola,Amir Weintraub,"Australian Open, Melbourne",16-Jan-12,Hard,Qualifying,274,220,0,2,...,1,1,14,43,46,2012-01-16,2012,1,16,Ausralian Open 2012
139,Sergei Bubka,Andre Begemann,"Australian Open, Melbourne",16-Jan-12,Hard,Qualifying,152,227,0,2,...,3,3,30,76,82,2012-01-16,2012,1,16,Ausralian Open 2012
140,Denys Molchanov,Andrew Harris,"Australian Open, Melbourne",16-Jan-12,Hard,Qualifying,267,.,0,2,...,1,2,21,64,57,2012-01-16,2012,1,16,Ausralian Open 2012
141,Bjorn Phau,Arnaud Clement,"Australian Open, Melbourne",16-Jan-12,Hard,Qualifying,174,157,0,2,...,3,10,32,73,63,2012-01-16,2012,1,16,Ausralian Open 2012

Winner                               object
Loser                                object
Tournament                           object
Tournament_Date                      object
Court_Surface                        object
Round_Description                    object
Winner_Rank                          object
Loser_Rank                           object
Retirement_Ind                        int64
Winner_Sets_Won                      object
Winner_Games_Won                      int64
Winner_Aces                          object
Winner_DoubleFaults                  object
Winner_FirstServes_Won               object
Winner_FirstServes_In                object
Winner_SecondServes_Won              object
Winner_SecondServes_In               object
Winner_BreakPoints_Won               object
Winner_BreakPoints                   object
Winner_ReturnPoints_Won              object
Winner_ReturnPoints_Faced            object
Winner_TotalPoints_Won                int64
Loser_Sets_Won                       object
Loser_Games_Won                       int64
Loser_Aces                           object
Loser_DoubleFaults                   object
Loser_FirstServes_Won                object
Loser_FirstServes_In                 object
Loser_SecondServes_Won               object
Loser_SecondServes_In                object
Loser_BreakPoints_Won                object
Loser_BreakPoints                    object
Loser_ReturnPoints_Won               object
Loser_ReturnPoints_Faced             object
Loser_TotalPoints_Won                 int64
datetime                     datetime64[ns]
year                                  int64
month                                 int64
day                                   int64
AusOpen                              object
dtype: object

Im using a project completed by Michal SIPKO for one of his computing courses, dunno man i found it on google. Anyways he suggets that one of the easiest ways it to compare two players is to look at the difference between the two. the arguement for looking at differences is so that it ensures a symmetrical model, where it doesnt matter which player we put in as player 1. THis seems to make a lot of sense to me as it ensures that a feature A is weighed the same for both players
<p>
so one of the things we notice about the ATP data is that because it is historic data, it is organised as [WINNER,LOSER]. The problem here, is that the submission template is organised as [Player1, Player2, %Player1Victory]. currently the algorithm will just learn that player1 will always win, so we'll have to randomly pick half of the rows to reverse player order, then split out the winner in a separate column as the label

In [27]:
winframe = AusOpenframe.filter(regex='Winner')
loseframe = AusOpenframe.filter(regex='Loser')
winlist = [x for x in winframe.columns]
loselist = [x for x in loseframe.columns]
for col in winlist[1:]:
    winframe[col] = pd.to_numeric(winframe[col],errors="coerce")
for col in loselist[1:]:
    loseframe[col] = pd.to_numeric(loseframe[col],errors="coerce")
colnames = ['_'.join(x.split('_')[1:]) for x in winlist[1:]]
display(winframe.head())
display(loseframe.head())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Winner,Winner_Rank,Winner_Sets_Won,Winner_Games_Won,Winner_Aces,Winner_DoubleFaults,Winner_FirstServes_Won,Winner_FirstServes_In,Winner_SecondServes_Won,Winner_SecondServes_In,Winner_BreakPoints_Won,Winner_BreakPoints,Winner_ReturnPoints_Won,Winner_ReturnPoints_Faced,Winner_TotalPoints_Won
137,Adrian Menendez-Maceiras,195.0,2,12,3.0,1.0,19,31,10,22,7.0,11.0,32.0,52.0,61
138,Marco Crugnola,274.0,2,12,1.0,3.0,22,29,7,14,5.0,15.0,36.0,68.0,65
139,Sergei Bubka,152.0,2,14,5.0,2.0,32,45,14,31,4.0,13.0,42.0,94.0,88
140,Denys Molchanov,267.0,2,13,3.0,2.0,29,38,14,26,4.0,10.0,32.0,68.0,75
141,Bjorn Phau,174.0,2,13,3.0,0.0,27,39,14,34,6.0,11.0,35.0,66.0,76

,Loser,Loser_Rank,Loser_Sets_Won,Loser_Games_Won,Loser_Aces,Loser_DoubleFaults,Loser_FirstServes_Won,Loser_FirstServes_In,Loser_SecondServes_Won,Loser_SecondServes_In,Loser_BreakPoints_Won,Loser_BreakPoints,Loser_ReturnPoints_Won,Loser_ReturnPoints_Faced,Loser_TotalPoints_Won
137,Alejandro Gonzalez,270.0,0,5,0.0,3.0,11,28,9,24,3.0,10.0,24.0,53.0,44
138,Amir Weintraub,220.0,0,4,0.0,1.0,28,59,4,9,1.0,1.0,14.0,43.0,46
139,Andre Begemann,227.0,0,11,4.0,8.0,40,58,12,36,3.0,3.0,30.0,76.0,82
140,Andrew Harris,NaN,0,6,0.0,1.0,17,37,19,31,1.0,2.0,21.0,64.0,57
141,Arnaud Clement,157.0,0,7,4.0,3.0,21,39,10,27,3.0,10.0,32.0,73.0,63

137      Adrian Menendez-Maceiras
138                Marco Crugnola
139                  Sergei Bubka
140               Denys Molchanov
141                    Bjorn Phau
142                 Igor Sijsling
143             Rainer Schuettler
144                Stephane Bohli
145               Danai Udomchoke
146                  David Goffin
147                  Grega Zemlja
148                    Radu Albot
149                  Peter Luczak
150                  Matteo Viola
151               Maxime Teixeira
152              Thiemo de Bakker
153                Andrey Golubev
154                    Joao Sousa
155             Ricardas Berankis
156         Pierre-Ludovic Duclos
157                  Romain Jouan
158               Peter Gojowczyk
159                Alex Kuznetsov
160                  Javier Marti
161                    James Ward
162                    Jimmy Wang
163               Augustin Gensse
164                Martin Fischer
165                  Aljaz Bedene
166                   Lukas Lacko
                   ...
18109               Dominic Thiem
18110              Novak Djokovic
18111                 Hyeon Chung
18112           Diego Schwartzman
18113             Grigor Dimitrov
18114                Rafael Nadal
18115         Pablo Carreno Busta
18116               Andreas Seppi
18117                Nick Kyrgios
18118               Tomas Berdych
18119               Fabio Fognini
18120             Tennys Sandgren
18121            Marton Fucsovics
18122                 Kyle Edmund
18123                 Marin Cilic
18124                 Kyle Edmund
18125                Rafael Nadal
18126             Tennys Sandgren
18127               Tomas Berdych
18128               Roger Federer
18129             Grigor Dimitrov
18130                 Hyeon Chung
18131                 Marin Cilic
18132                 Kyle Edmund
18133                 Marin Cilic
18134                 Hyeon Chung
18135               Roger Federer
18136               Roger Federer
18137                 Marin Cilic
18138               Roger Federer
Name: Winner, Length: 1665, dtype: object
137      Adrian Menendez-Maceiras
138                Marco Crugnola
139                  Sergei Bubka
140               Denys Molchanov
141                    Bjorn Phau
142                 Igor Sijsling
143             Rainer Schuettler
144                Stephane Bohli
145               Danai Udomchoke
146                  David Goffin
147                  Grega Zemlja
148                    Radu Albot
149                  Peter Luczak
150                  Matteo Viola
151               Maxime Teixeira
152              Thiemo de Bakker
153                Andrey Golubev
154                    Joao Sousa
155             Ricardas Berankis
156         Pierre-Ludovic Duclos
157                  Romain Jouan
158               Peter Gojowczyk
159                Alex Kuznetsov
160                  Javier Marti
161                    James Ward
162                    Jimmy Wang
163               Augustin Gensse
164                Martin Fischer
165                  Aljaz Bedene
166                   Lukas Lacko
                   ...
18109               Dominic Thiem
18110              Novak Djokovic
18111                 Hyeon Chung
18112           Diego Schwartzman
18113             Grigor Dimitrov
18114                Rafael Nadal
18115         Pablo Carreno Busta
18116               Andreas Seppi
18117                Nick Kyrgios
18118               Tomas Berdych
18119               Fabio Fognini
18120             Tennys Sandgren
18121            Marton Fucsovics
18122                 Kyle Edmund
18123                 Marin Cilic
18124                 Kyle Edmund
18125                Rafael Nadal
18126             Tennys Sandgren
18127               Tomas Berdych
18128               Roger Federer
18129             Grigor Dimitrov
18130                 Hyeon Chung
18131                 Marin Cilic
18132                 Kyle Edmund
18133                 Marin Cilic
18134                 Hyeon Chung
18135               Roger Federer
18136               Roger Federer
18137                 Marin Cilic
18138               Roger Federer
Name: Winner, Length: 1665, dtype: object

,Winner,Loser,Rank_diff,Sets_Won_diff,Games_Won_diff,Aces_diff,DoubleFaults_diff,FirstServes_Won_diff,FirstServes_In_diff,SecondServes_Won_diff,SecondServes_In_diff,BreakPoints_Won_diff,BreakPoints_diff,ReturnPoints_Won_diff,ReturnPoints_Faced_diff,TotalPoints_Won_diff
137,Adrian Menendez-Maceiras,Alejandro Gonzalez,-75.0,2,7,3.0,-2.0,8,3,1,-2,4.0,1.0,8.0,-1.0,17
138,Marco Crugnola,Amir Weintraub,54.0,2,8,1.0,2.0,-6,-30,3,5,4.0,14.0,22.0,25.0,19
139,Sergei Bubka,Andre Begemann,-75.0,2,3,1.0,-6.0,-8,-13,2,-5,1.0,10.0,12.0,18.0,6
140,Denys Molchanov,Andrew Harris,NaN,2,7,3.0,1.0,12,1,-5,-5,3.0,8.0,11.0,4.0,18
141,Bjorn Phau,Arnaud Clement,17.0,2,6,-1.0,-3.0,6,0,4,7,3.0,1.0,3.0,-7.0,13

In [ ]:
def get_difference(frame1,frame2,colname=None, prefix1='',prefix2='',index1=None,index2=None):
    #check if index between frames are identical, if not, reset both
    idx_check = frame1.index.equals(frame2.index)
    if not(idx_check):
        frame1.reset_index(drop=True, inplace=True)
        frame2.reset_index(drop=True, inplace=True)
    if colname is None:
        colname = frame1.columns
    if frame1.shape[0] != frame2.shape[0]:
        raise ValueError('both frames must contain the same number of rows/n Frame1: %{}/mn Frame2: %{}'.format([frame1.shape[0],frame2.shape[0]]))
    tempdiffcolnames = [x+"_diff" for x in colname]
    diffcolnames = list()
    if index1 is not None:
        diffcolnames.append(index1)
    if index2 is not None:
        diffcolnames.append(index2)
    diffcolnames = diffcolnames + tempdiffcolnames
    if idx_check:
        difframe = pd.DataFrame(index=frame1.index,columns=diffcolnames,data=0)
    else:
        difframe = pd.DataFrame(index=range(0,frame1.shape[0]),columns=diffcolnames,data=0)
    if index1 is not None:
        difframe[index1] = frame1[index1]
    if index2 is not None:
        difframe[index2] = frame2[index2]
    for col in colname:
        frame1name = prefix1+col
        frame2name = prefix2+col
        difframename = col+"_diff"
        difframe[difframename]=frame1[frame1name] - frame2[frame2name]
    return difframe
difdf = get_difference(winframe,loseframe,colname = colnames,prefix1="Winner_",prefix2="Loser_",index1="Winner",index2="Loser")
display(difdf.head())