In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
#load up all the data
inputfolder = 'data'
filelist = os.listdir(inputfolder)
framedict = dict()
for file in filelist:
    filename,ext = os.path.splitext(file)
    pathway = os.path.join(inputfolder,file)
#     print(pathway)
    tempdf = pd.read_csv(pathway)
    framedict[filename] = tempdf
    del tempdf
dictnames = [x for x in framedict.keys()]
print(dictnames)

['ATP_matches', 'aus_open_men_match_odds', 'aus_open_men_tournament_odds', 'aus_open_women_match_odds', 'aus_open_women_tournament_odds', 'cleaned_data', 'WTA_matches']

C:\Users\Hugh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (11,12,13,14,17,18,24,25,26,27,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Looking at the mens data for simplicity again

In [3]:
#load mens dataframes into variables and inspect data
ATPframe = framedict['ATP_matches'].copy() #we copy so we can run the code multiple times without errors, not really necessary
AOMensMatchOdds = framedict['aus_open_men_match_odds'].copy()
AOMensTournOdds = framedict['aus_open_men_tournament_odds'].copy()
display(ATPframe.head())
display(AOMensMatchOdds.head())
display(AOMensTournOdds.head())

#initial cleaning
#checking that we're only looking at mens data
print(AOMensMatchOdds['men_women'].unique())
print(AOMensTournOdds['men_women'].unique())

#only mens, so we can drop this column
AOMensMatchOdds.drop('men_women',axis=1,inplace=True)
AOMensTournOdds.drop('men_women',axis=1,inplace=True)

#convert dates to datetime
ATPframe['datetime'] = pd.to_datetime(ATPframe['Tournament_Date'])
AOMensMatchOdds['datetime'] = pd.to_datetime(AOMensMatchOdds['match_date'])
display(AOMensMatchOdds.loc[:,['match_date','datetime']].head())

#testing splitting up dates into day/month/year
AOMensMatchOdds['year'] = pd.DatetimeIndex(AOMensMatchOdds['datetime']).year
AOMensMatchOdds['month'] = pd.DatetimeIndex(AOMensMatchOdds['datetime']).month
AOMensMatchOdds['day'] = pd.DatetimeIndex(AOMensMatchOdds['datetime']).day
ATPframe['year'] = pd.DatetimeIndex(ATPframe['datetime']).year
ATPframe['month'] = pd.DatetimeIndex(ATPframe['datetime']).month
ATPframe['day'] = pd.DatetimeIndex(ATPframe['datetime']).day
# display(ATPframe.loc[:,['year','month','day','datetime']].head())

,Winner,Loser,Tournament,Tournament_Date,Court_Surface,Round_Description,Winner_Rank,Loser_Rank,Retirement_Ind,Winner_Sets_Won,...,Loser_DoubleFaults,Loser_FirstServes_Won,Loser_FirstServes_In,Loser_SecondServes_Won,Loser_SecondServes_In,Loser_BreakPoints_Won,Loser_BreakPoints,Loser_ReturnPoints_Won,Loser_ReturnPoints_Faced,Loser_TotalPoints_Won
0,Edouard Roger-Vasselin,Eric Prodon,Chennai,2-Jan-12,Hard,First Round,106,97,0,2,...,3,21,33,13,26,1,3,15,49,49
1,Dudi Sela,Fabio Fognini,Chennai,2-Jan-12,Hard,First Round,83,48,0,2,...,4,17,32,5,26,0,1,8,33,30
2,Go Soeda,Frederico Gil,Chennai,2-Jan-12,Hard,First Round,120,102,0,2,...,2,45,70,18,35,2,4,36,103,99
3,Yuki Bhambri,Karol Beck,Chennai,2-Jan-12,Hard,First Round,345,101,0,2,...,1,15,33,13,29,2,3,15,46,43
4,Yuichi Sugita,Olivier Rochus,Chennai,2-Jan-12,Hard,First Round,235,67,0,2,...,0,19,32,13,22,1,7,30,78,62

,tournament,men_women,match_date,player_1,player_1_odds,player_2,player_2_odds
0,Australian Open 2012,Men,2012-01-17,Potito Starace,1.77,Tatsuma Ito,2.24
1,Australian Open 2012,Men,2012-01-17,Nicolas Mahut,5.30,Radek Stepanek,1.20
2,Australian Open 2012,Men,2012-01-17,Filippo Volandri,40.00,Milos Raonic,1.02
3,Australian Open 2012,Men,2012-01-17,Lukas Rosol,3.25,Philipp Petzschner,1.42
4,Australian Open 2012,Men,2012-01-17,Cedrik Marcel Stebe,3.60,Lleyton Hewitt,1.36

             tournament men_women              player   odds
0  Australian Open 2012       Men      Novak Djokovic   2.46
1  Australian Open 2012       Men       Roger Federer   5.60
2  Australian Open 2012       Men         Andy Murray   7.60
3  Australian Open 2012       Men        Rafael Nadal   9.00
4  Australian Open 2012       Men  Jo Wilfried Tsonga  22.00

['Men']
['Men']

   match_date   datetime
0  2012-01-17 2012-01-17
1  2012-01-17 2012-01-17
2  2012-01-17 2012-01-17
3  2012-01-17 2012-01-17
4  2012-01-17 2012-01-17

In [4]:
#"unstacking" Player data so that each row is the performance of one player in one of their matches
winframe = ATPframe.filter(regex='Winner')
loseframe = ATPframe.filter(regex='Loser')
winframe.loc[:,'won_game?'] = 1
loseframe.loc[:,'won_game?'] = 0
winlist = [x for x in winframe.columns]
loselist = [x for x in loseframe.columns]
for col in winlist[1:]:
    winframe.loc[:,col] = pd.to_numeric(winframe[col],errors="coerce")
for col in loselist[1:]:
    loseframe.loc[:,col] = pd.to_numeric(loseframe[col],errors="coerce")
colnames = [x.replace("Winner_","") if "Winner_" in x else x for x in winlist]
colnames[0] = "Player"
print(colnames)
loseframe.columns = colnames
winframe.columns = colnames
# display(loseframe[loseframe['Loser_Rank'].isna()])

#im going to calculate some ratios here because it makes sense to do so programatically, but these are explored further below
ratiolist = ['FirstServes','SecondServes','BreakPoints','ReturnPoints']
for idx,frame in enumerate([winframe,loseframe]):
    for col in ratiolist:
        tempdf = frame.filter(regex=col)
        if tempdf.shape[1] == 2:
            tempcolnames = tempdf.columns
            for col2 in tempcolnames:
                if "Won" in col2:
                    nomcol = col2
                else:
                    domcol = col2
            frame.loc[:,col+'_ratio'] =  pd.to_numeric(tempdf[nomcol],errors="coerce")/pd.to_numeric(tempdf[domcol],errors="coerce")
            frame.loc[:,col+'_ratio'].fillna(tempdf[domcol],inplace=True)
#             if frame[prefix+col+'_ratio'].isna().sum()>0:
#                 display(frame[frame[prefix+col+'_ratio'].isna()])
        else:
            raise ValueError("More than two columns matching regex: %{}".format(col))
#     print(frame.columns)
    display(frame.head())
#grabs colnames that we want to find the difference score of
winframe = winframe.merge(ATPframe.loc[:,['datetime','year','month','day','Tournament','Round_Description','Court_Surface']],left_index=True,right_index=True)
loseframe = loseframe.merge(ATPframe.loc[:,['datetime','year','month','day','Tournament','Round_Description','Court_Surface']],left_index=True,right_index=True)

display(winframe.head())
display(loseframe.head())
print("-"*200)
print("find missing values")
print(winframe.isna().sum())
print(loseframe.isna().sum())
# display(loseframe.loc[loseframe['Loser_BreakPoints_ratio'].isna(),['Loser_BreakPoints_Won','Loser_BreakPoints','Loser_BreakPoints_ratio']])

#filling unranked players with lowest rank+1
def fillrank(row,col):
    global ATPframe
    if np.isnan(row[col]):
            year = row['year']
            tournament = row['Tournament']
            surface = row['Court_Surface']
            yeardf = ATPframe[ATPframe['year']==year] #i can do this slicing in one line, but im doing in two to allow for easier debugging
            tourndf = ATPframe[(ATPframe['Tournament']==tournament)&(ATPframe['Court_Surface']==surface)]
            maxrank = int(max([tourndf['Winner_Rank'].max(),tourndf['Loser_Rank'].max()]))
            return maxrank+1
    else:
        return row[col]
print("-"*200)
print('Filling in unranked')
winframe.loc[:,'Rank'] = winframe.apply(fillrank,axis=1,args=('Rank',))
loseframe.loc[:,'Rank'] = loseframe.apply(fillrank,axis=1,args=('Rank',))
print(winframe['Rank'].isna().sum())
print(loseframe['Rank'].isna().sum())
display(winframe.head())
display(loseframe.head())
# display(loseframe.loc[loseframe['Loser_BreakPoints_ratio'].isna(),['Loser_BreakPoints_Won','Loser_BreakPoints','Loser_BreakPoints_ratio']])

C:\Users\Hugh\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Hugh\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

['Player', 'Rank', 'Sets_Won', 'Games_Won', 'Aces', 'DoubleFaults', 'FirstServes_Won', 'FirstServes_In', 'SecondServes_Won', 'SecondServes_In', 'BreakPoints_Won', 'BreakPoints', 'ReturnPoints_Won', 'ReturnPoints_Faced', 'TotalPoints_Won', 'won_game?']

C:\Users\Hugh\Anaconda3\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,Player,Rank,Sets_Won,Games_Won,Aces,DoubleFaults,FirstServes_Won,FirstServes_In,SecondServes_Won,SecondServes_In,BreakPoints_Won,BreakPoints,ReturnPoints_Won,ReturnPoints_Faced,TotalPoints_Won,won_game?,FirstServes_ratio,SecondServes_ratio,BreakPoints_ratio,ReturnPoints_ratio
0,Edouard Roger-Vasselin,106.0,2.0,12,5.0,2.0,22.0,30.0,12.0,19.0,4.0,7.0,25.0,59.0,59,1,0.733333,0.631579,0.571429,0.423729
1,Dudi Sela,83.0,2.0,12,2.0,0.0,14.0,17.0,11.0,16.0,6.0,14.0,36.0,58.0,61,1,0.823529,0.687500,0.428571,0.620690
2,Go Soeda,120.0,2.0,19,6.0,1.0,48.0,64.0,19.0,39.0,5.0,11.0,42.0,105.0,109,1,0.750000,0.487179,0.454545,0.400000
3,Yuki Bhambri,345.0,2.0,12,1.0,2.0,22.0,29.0,9.0,17.0,5.0,13.0,34.0,62.0,65,1,0.758621,0.529412,0.384615,0.548387
4,Yuichi Sugita,235.0,2.0,12,3.0,1.0,37.0,51.0,11.0,27.0,3.0,7.0,22.0,54.0,70,1,0.725490,0.407407,0.428571,0.407407

,Player,Rank,Sets_Won,Games_Won,Aces,DoubleFaults,FirstServes_Won,FirstServes_In,SecondServes_Won,SecondServes_In,BreakPoints_Won,BreakPoints,ReturnPoints_Won,ReturnPoints_Faced,TotalPoints_Won,won_game?,FirstServes_ratio,SecondServes_ratio,BreakPoints_ratio,ReturnPoints_ratio
0,Eric Prodon,97.0,0.0,7,2.0,3.0,21.0,33.0,13.0,26.0,1.0,3.0,15.0,49.0,49,0,0.636364,0.500000,0.333333,0.306122
1,Fabio Fognini,48.0,0.0,1,1.0,4.0,17.0,32.0,5.0,26.0,0.0,1.0,8.0,33.0,30,0,0.531250,0.192308,0.000000,0.242424
2,Frederico Gil,102.0,1.0,14,5.0,2.0,45.0,70.0,18.0,35.0,2.0,4.0,36.0,103.0,99,0,0.642857,0.514286,0.500000,0.349515
3,Karol Beck,101.0,0.0,5,1.0,1.0,15.0,33.0,13.0,29.0,2.0,3.0,15.0,46.0,43,0,0.454545,0.448276,0.666667,0.326087
4,Olivier Rochus,67.0,0.0,7,0.0,0.0,19.0,32.0,13.0,22.0,1.0,7.0,30.0,78.0,62,0,0.593750,0.590909,0.142857,0.384615

,Player,Rank,Sets_Won,Games_Won,Aces,DoubleFaults,FirstServes_Won,FirstServes_In,SecondServes_Won,SecondServes_In,...,SecondServes_ratio,BreakPoints_ratio,ReturnPoints_ratio,datetime,year,month,day,Tournament,Round_Description,Court_Surface
0,Edouard Roger-Vasselin,106.0,2.0,12,5.0,2.0,22.0,30.0,12.0,19.0,...,0.631579,0.571429,0.423729,2012-01-02,2012,1,2,Chennai,First Round,Hard
1,Dudi Sela,83.0,2.0,12,2.0,0.0,14.0,17.0,11.0,16.0,...,0.687500,0.428571,0.620690,2012-01-02,2012,1,2,Chennai,First Round,Hard
2,Go Soeda,120.0,2.0,19,6.0,1.0,48.0,64.0,19.0,39.0,...,0.487179,0.454545,0.400000,2012-01-02,2012,1,2,Chennai,First Round,Hard
3,Yuki Bhambri,345.0,2.0,12,1.0,2.0,22.0,29.0,9.0,17.0,...,0.529412,0.384615,0.548387,2012-01-02,2012,1,2,Chennai,First Round,Hard
4,Yuichi Sugita,235.0,2.0,12,3.0,1.0,37.0,51.0,11.0,27.0,...,0.407407,0.428571,0.407407,2012-01-02,2012,1,2,Chennai,First Round,Hard

,Player,Rank,Sets_Won,Games_Won,Aces,DoubleFaults,FirstServes_Won,FirstServes_In,SecondServes_Won,SecondServes_In,...,SecondServes_ratio,BreakPoints_ratio,ReturnPoints_ratio,datetime,year,month,day,Tournament,Round_Description,Court_Surface
0,Eric Prodon,97.0,0.0,7,2.0,3.0,21.0,33.0,13.0,26.0,...,0.500000,0.333333,0.306122,2012-01-02,2012,1,2,Chennai,First Round,Hard
1,Fabio Fognini,48.0,0.0,1,1.0,4.0,17.0,32.0,5.0,26.0,...,0.192308,0.000000,0.242424,2012-01-02,2012,1,2,Chennai,First Round,Hard
2,Frederico Gil,102.0,1.0,14,5.0,2.0,45.0,70.0,18.0,35.0,...,0.514286,0.500000,0.349515,2012-01-02,2012,1,2,Chennai,First Round,Hard
3,Karol Beck,101.0,0.0,5,1.0,1.0,15.0,33.0,13.0,29.0,...,0.448276,0.666667,0.326087,2012-01-02,2012,1,2,Chennai,First Round,Hard
4,Olivier Rochus,67.0,0.0,7,0.0,0.0,19.0,32.0,13.0,22.0,...,0.590909,0.142857,0.384615,2012-01-02,2012,1,2,Chennai,First Round,Hard

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
find missing values
Player                  0
Rank                  100
Sets_Won                8
Games_Won               0
Aces                   15
DoubleFaults           38
FirstServes_Won         1
FirstServes_In          1
SecondServes_Won        2
SecondServes_In         2
BreakPoints_Won         7
BreakPoints             7
ReturnPoints_Won      376
ReturnPoints_Faced    376
TotalPoints_Won         0
won_game?               0
FirstServes_ratio       1
SecondServes_ratio      2
BreakPoints_ratio       7
ReturnPoints_ratio    376
datetime                0
year                    0
month                   0
day                     0
Tournament              0
Round_Description      34
Court_Surface           0
dtype: int64
Player                  0
Rank                  297
Sets_Won                8
Games_Won               0
Aces                   17
DoubleFaults           35
FirstServes_Won         1
FirstServes_In          1
SecondServes_Won        2
SecondServes_In         2
BreakPoints_Won        15
BreakPoints            10
ReturnPoints_Won      376
ReturnPoints_Faced    376
TotalPoints_Won         0
won_game?               0
FirstServes_ratio       1
SecondServes_ratio      2
BreakPoints_ratio      10
ReturnPoints_ratio    376
datetime                0
year                    0
month                   0
day                     0
Tournament              0
Round_Description      34
Court_Surface           0
dtype: int64
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Filling in unranked
0
0

,Player,Rank,Sets_Won,Games_Won,Aces,DoubleFaults,FirstServes_Won,FirstServes_In,SecondServes_Won,SecondServes_In,...,SecondServes_ratio,BreakPoints_ratio,ReturnPoints_ratio,datetime,year,month,day,Tournament,Round_Description,Court_Surface
0,Edouard Roger-Vasselin,106.0,2.0,12,5.0,2.0,22.0,30.0,12.0,19.0,...,0.631579,0.571429,0.423729,2012-01-02,2012,1,2,Chennai,First Round,Hard
1,Dudi Sela,83.0,2.0,12,2.0,0.0,14.0,17.0,11.0,16.0,...,0.687500,0.428571,0.620690,2012-01-02,2012,1,2,Chennai,First Round,Hard
2,Go Soeda,120.0,2.0,19,6.0,1.0,48.0,64.0,19.0,39.0,...,0.487179,0.454545,0.400000,2012-01-02,2012,1,2,Chennai,First Round,Hard
3,Yuki Bhambri,345.0,2.0,12,1.0,2.0,22.0,29.0,9.0,17.0,...,0.529412,0.384615,0.548387,2012-01-02,2012,1,2,Chennai,First Round,Hard
4,Yuichi Sugita,235.0,2.0,12,3.0,1.0,37.0,51.0,11.0,27.0,...,0.407407,0.428571,0.407407,2012-01-02,2012,1,2,Chennai,First Round,Hard

,Player,Rank,Sets_Won,Games_Won,Aces,DoubleFaults,FirstServes_Won,FirstServes_In,SecondServes_Won,SecondServes_In,...,SecondServes_ratio,BreakPoints_ratio,ReturnPoints_ratio,datetime,year,month,day,Tournament,Round_Description,Court_Surface
0,Eric Prodon,97.0,0.0,7,2.0,3.0,21.0,33.0,13.0,26.0,...,0.500000,0.333333,0.306122,2012-01-02,2012,1,2,Chennai,First Round,Hard
1,Fabio Fognini,48.0,0.0,1,1.0,4.0,17.0,32.0,5.0,26.0,...,0.192308,0.000000,0.242424,2012-01-02,2012,1,2,Chennai,First Round,Hard
2,Frederico Gil,102.0,1.0,14,5.0,2.0,45.0,70.0,18.0,35.0,...,0.514286,0.500000,0.349515,2012-01-02,2012,1,2,Chennai,First Round,Hard
3,Karol Beck,101.0,0.0,5,1.0,1.0,15.0,33.0,13.0,29.0,...,0.448276,0.666667,0.326087,2012-01-02,2012,1,2,Chennai,First Round,Hard
4,Olivier Rochus,67.0,0.0,7,0.0,0.0,19.0,32.0,13.0,22.0,...,0.590909,0.142857,0.384615,2012-01-02,2012,1,2,Chennai,First Round,Hard

In [8]:
print("calculating difference scores for these columns :")
difcol = colnames[1:len(colnames)-1] + [x+"_ratio" for x in ratiolist]
print(difcol)
def get_difference(frame1,frame2,colname=None, prefix1='',prefix2='',index1=None,index2=None):
    #check if index between frames are identical, if not, reset both
    idx_check = frame1.index.equals(frame2.index)
    if not(idx_check):
        frame1.reset_index(drop=True, inplace=True)
        frame2.reset_index(drop=True, inplace=True)
    if colname is None:
        colname = frame1.columns
    if frame1.shape[0] != frame2.shape[0]:
        raise ValueError('both frames must contain the same number of rows/n Frame1: %{}/mn Frame2: %{}'.format([frame1.shape[0],frame2.shape[0]]))
    tempdiffcolnames = [x+"_diff" for x in colname]
    diffcolnames = list()
    if index1 is not None:
        diffcolnames.append(index1)
    if index2 is not None:
        diffcolnames.append(index2)
    diffcolnames = diffcolnames + tempdiffcolnames
    if idx_check:
        difframe = pd.DataFrame(index=frame1.index,columns=diffcolnames,data=0)
    else:
        difframe = pd.DataFrame(index=range(0,frame1.shape[0]),columns=diffcolnames,data=0)
    if index1 is not None:
        difframe[index1] = frame1[index1]
    if index2 is not None:
        difframe[index2] = frame2[index2]
    for col in colname:
        frame1name = prefix1+col
        frame2name = prefix2+col
        difframename = col+"_diff"
        difframe[difframename]=frame1[frame1name] - frame2[frame2name]
    return difframe
# difdf = get_difference(winframe,loseframe,colname = colnames,prefix1="Winner_",prefix2="Loser_",index1="Winner",index2="Loser")
# difdf = difdf.merge(AusOpenframe.loc[:,['Court_Surface','Round_Description','datetime','year','month','day']],left_index=True,right_index=True)
# display(difdf.head())

calculating difference scores for these columns :
['Rank', 'Sets_Won', 'Games_Won', 'Aces', 'DoubleFaults', 'FirstServes_Won', 'FirstServes_In', 'SecondServes_Won', 'SecondServes_In', 'BreakPoints_Won', 'BreakPoints', 'ReturnPoints_Won', 'ReturnPoints_Faced', 'TotalPoints_Won', 'FirstServes_ratio', 'SecondServes_ratio', 'BreakPoints_ratio', 'ReturnPoints_ratio']